body {
  font-family: 'Roboto', sans-serif;
  padding: 15px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

button:hover {
  cursor: pointer;
}
